// main_color
$main_color: #7c44de;
$secondary_color_font: #bbbcf8;

//bg_Color
$bg_gary: #f5f5f5;

//font_Color
$font_black: #595959;

//value

//radious

// border

//fontsize

//width
