// main_color
$main_color: #7c44de;
$secondary_color_font: #bbbcf8;

//bg_Color
$bg_gary: #f5f5f5;

//font_Color
$font_black: #595959;

//value

//radious

// border
$box_border: 2px #181818 solid;

//fontsize
$fontsize_h2: 24px;
$fontsize_h2_m: 19px;
$fontsize_p: 18px;
$fontsize_p_m: 16px;
//width
