@import "_extend.scss";
// RWD
.pad {
  display: none;
}

.phone {
  display: none;
}

.web {
  display: block;
}

@media screen and (max-width: 800px) {
  .web {
    display: none;
  }

  .phone {
    display: none;
  }

  .pad {
    display: block;
  }
}

@media screen and (max-width: 736px) {
  .web {
    display: none;
  }

  .pad {
    display: none;
  }

  .phone {
    display: block;
  }
}

main {
  width: 100%;
  padding-top: 68px;
  overflow: hidden;
  @media screen and (max-width: 736px) {
    padding-top: 74px;
  }
}

// header
.header_bg {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px #e2e2e2;
  position: fixed;
  z-index: 9999;
}

.header_container {
  width: 100%;
  height: 68px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 20px;
}

.header_title {
  float: left;
  font-size: 26px;
  line-height: 68px;
  padding-left: 16px;
  a {
    color: $black;
    letter-spacing: 2px;
    font-weight: bold;
  }
  img {
    width: 40px;
    margin-right: 6px;
    margin-left: 24px;
    float: left;
    margin-top: 8px;
  }
  @media screen and (max-width: 736px) {
    padding-left: 0;
    font-size: 24px;
  }
}

.menu {
  float: right;
  line-height: 68px;
  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      padding: 0 16px;
      a {
        font-size: 20px;
        color: $black;
        letter-spacing: 2px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header_container {
    width: 100%;
  }
  .menu {
    ul {
      display: none;
    }
  }
}

// close menu
.hamburgaricon {
  display: none;
  height: 68px;
  float: right;
}

.closemenu {
  width: 24px;
  height: 24px;
  position: relative;
  top: 24px;
  span {
    display: block;
    height: 2px;
    background-color: #000;
    position: relative;
    transition: all 0.3s ease-in-out;
    // transition: transform 0.3s ease-in-out 0.3s, top 0.3s ease-in-out 0.3s;
    top: 0;
    right: 16px;
  }
  span:nth-child(2) {
    margin-top: 7px;
  }
  span:nth-child(3) {
    margin-top: 7px;
  }
}

#toggler {
  display: none;
}

#toggler:checked + label .closemenu span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
  transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0 3s;
}

#toggler:checked + label .closemenu span:nth-child(2) {
  opacity: 0;
}

#toggler:checked + label .closemenu span:nth-child(3) {
  transform: rotate(-45deg);
  top: -10px;
  //   transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}

@media screen and (max-width: 1024px) {
  .hamburgaricon {
    display: block;
  }
}

.menu_m {
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  top: 68px;
  left: 0;
  z-index: 88;
  padding-top: 40px;
  background-color: #3b3b3b;
  text-align: center;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out 0.3s, opacity 0.3s ease-in-out 0.3s;
  transform-origin: 50% 0;
  opacity: 0;
  transition: 0.3s;
  li {
    margin-bottom: 30px;
  }
  a {
    width: 200px;
    display: block;
    font-size: 18px;
    color: #fff;
    background-color: #444444;
    margin: 0 auto;
    padding: 10px;
    border-radius: 4px;
    letter-spacing: 2px;
  }
}

#toggler:checked ~ .menu_m {
  transform: scaleY(1);
  opacity: 1;
}

.active {
  color: $main_color;
  @media screen and (max-width: 736px) {
    color: #fff;
  }
}

// main

.bg_grey {
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 1;
  background-color: #fff;
  @media screen and (max-width: 1024px) {
    height: 240px;
  }
  @media screen and (max-width: 736px) {
    height: 160px;
  }
}

.section_grey {
  width: 100%;
  background-color: $bg_gary;
  padding: 80px 20px 80px;
  @media screen and (max-width: 736px) {
    padding: 20px 20px 40px;
  }
}

.projects_imgbox {
  margin: 0 auto 60px;
  max-width: 1100px;
  z-index: 999;
  @media screen and (max-width: 736px) {
    margin: 0 auto 20px;
  }
}

.projects_img {
  transition: all 0.3s;
  border: $box_border;
  border-radius: 16px;
  overflow: hidden;
  @media screen and (max-width: 736px) {
    border: 2px #181818 solid;
    border-radius: 8px;
  }
}
.projects_img img {
  margin-bottom: -3px;
  width: 1100px;
  @media screen and (max-width: 736px) {
    width: 100%;
  }
}

// page
.page {
  padding: 100px 40px 20px;
  @media screen and (max-width: 736px) {
    padding: 40px 24px 0;
  }
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.p-80 {
  padding: 80px 0;
  @media screen and (max-width: 736px) {
    padding: 28px 0;
  }
}

.container {
  width: 100%;
  margin-bottom: 80px;
  > h2 {
    @extend %font_h2;
  }
  > p {
    @extend %font_p;
  }
  > h3 {
    font-size: 22px;
    color: #595959;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 10px;
    @media screen and (max-width: 736px) {
      font-size: 18px;
    }
  }
}

.font_block {
  display: block;
  @media screen and (max-width: 736px) {
    display: inline;
  }
}
.title_none {
  display: none;
  @media screen and (max-width: 736px) {
    display: block;
  }
}

.font_en {
  font-size: 22px;
  color: $black;
  font-weight: normal;
  display: none;
  @media screen and (max-width: 736px) {
    font-size: $fontsize_h2_m;
  }
}

@media screen and (max-width: 736px) {
  .container {
    margin-bottom: 28px;
    p {
      font-size: $fontsize_p_m;
    }
  }
}

.color_boxes {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 28px;
  @media screen and (max-width: 736px) {
    width: 220px;
    margin-top: 20px;
  }
}

.color_boxes02 {
  width: 200px;
  @media screen and (max-width: 736px) {
    width: 140px;
  }
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  @media screen and (max-width: 736px) {
    width: 60px;
    height: 60px;
  }
}

.font_colorcode {
  font-size: 18px;
  display: none;
  @media screen and (max-width: 736px) {
    font-size: 12px;
  }
}

.item {
  width: 100%;
  margin-bottom: 88px;
  > ul {
    overflow: hidden;
    margin-bottom: 30px;
  }
  > ul > li {
    color: $main_color;
    margin-bottom: 12px;
  }
  > ul > li:nth-last-child(1) {
    margin-bottom: 0px;
  }
  > ul > li > p {
    @extend %font_p;
  }
  @media screen and (max-width: 736px) {
    margin-bottom: 28px;
    > ul {
      margin-bottom: 8px;
    }
    > ul > li {
      margin-bottom: 12px;
    }
  }
}

// model_01
.model_01 {
  @extend %model;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
  > ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    margin-bottom: 30px;
    width: calc(100% - 520px);
    float: right;
    padding-left: 60px;
  }
  > ul > li {
    color: $main_color;
    margin-bottom: 20px;
  }
  > ul > li:nth-last-child(1) {
    margin-bottom: 0px;
  }
  > ul > li > h2 {
    @extend %font_h2;
    display: block;
    // position: relative;
    // z-index: 1;
    // &:after {
    //   content: "";
    //   width: 68px;
    //   height: 2px;
    //   background: $black;
    //   position: absolute;
    //   z-index: -1;
    //   bottom: 8px;
    //   right: -76px;
    // }
    @media screen and (max-width: 736px) {
      display: none;
    }
  }
  > ul > li > h3 {
    font-size: 22px;
    color: #595959;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 10px;
  }
  > ul > li > p {
    @extend %font_p;
  }
  @media screen and (max-width: 736px) {
    > ul {
      margin-bottom: 0;
      padding-left: 0;
      width: 100%;
      margin-top: 12px;
      justify-content: left;
    }
    > ul > li {
      margin-bottom: 12px;
    }
  }
}

.model01_pr {
  padding-right: 60px !important;
  padding-left: 0 !important;
  @media screen and (max-width: 736px) {
    padding-right: 0 !important;
  }
}

.flex_direction {
  flex-direction: row-reverse;
  @media screen and (max-width: 736px) {
    flex-direction: column-reverse;
  }
}

.flex_direction_reverse {
  flex-direction: row;
  @media screen and (max-width: 736px) {
    flex-direction: column-reverse;
  }
}

.pl0 {
  padding-left: 0;
}

.img_s {
  margin-top: 20px;
}

// model_02
.model_02 {
  @extend %model;
  h2 {
    @extend %font_h2;
  }
  > ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  > ul > li {
    width: calc(100% / 2 - 32px);
    @media screen and (max-width: 736px) {
      width: 100%;
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 736px) {
  .model_02 > ul > li:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.model02_box {
  width: 100%;
  border: $box_border_grey;
  overflow: hidden;
  border-radius: 12px;
  @media screen and (max-width: 736px) {
    border: 0 #e4e4e4 solid;
    border-radius: 8px;
  }
}

.noshadow {
  box-shadow: none;
}

.description {
  padding: 24px 12px;
  text-align: center;
  > p {
    @extend %font_p;
  }
  @media screen and (max-width: 736px) {
    padding: 10px 0 0;
    text-align: left;
  }
}

.item_img {
  width: 520px;
  border-radius: 12px;
  overflow: hidden;
  @media screen and (max-width: 736px) {
    width: 100%;
    border-radius: 8px;
  }
}

.item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: -3px;
  @media screen and (max-width: 736px) {
    margin-bottom: 0;
  }
}

.img_border0 {
  border-radius: 0;
  @media screen and (max-width: 736px) {
    border-radius: 8px;
  }
}

.item_img02 {
  @media screen and (max-width: 1024px) {
    text-align: center;
  }
}

.item_img02 img {
  object-fit: cover;
  @media screen and (max-width: 1024px) {
    width: 240px;
  }
}

.mt28 {
  margin-top: 28px;
  @media screen and (max-width: 736px) {
    margin-top: 20px;
  }
}

.mb0 {
  margin-bottom: 0;
}

.p0-60 {
  padding: 0 60px;
  @media screen and (max-width: 736px) {
    padding: 0;
  }
}

.mb0_m {
  @media screen and (max-width: 736px) {
    margin-bottom: 4px !important;
  }
}

.w1000 {
  width: 1000px;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.w800 {
  width: 800px;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

// model_03
.model_03 {
  @extend %model;
  // display: flex;
  // flex-direction: column;
  h2 {
    @extend %font_h2;
  }
  > ul {
    overflow: hidden;
    margin-bottom: 30px;
  }
  > ul > li {
    color: $main_color;
    margin-bottom: 12px;
  }
  > ul > li:nth-last-child(1) {
    margin-bottom: 0px;
  }

  > ul > li > p {
    @extend %font_p;
  }
  @media screen and (max-width: 736px) {
    display: flex;
    > ul {
      margin-bottom: 0;
      margin-top: 12px;
    }
    > ul > li {
      margin-bottom: 12px;
    }
  }
}

.box_center {
  margin: 0 auto;
}

.box_border {
  width: 518px;
  border: 1px #e1e1e1 solid;
  // box-shadow: 0px 1px 3px 0px #e5e5e5;
  @media screen and (max-width: 736px) {
    width: 100%;
    border: 1 #e1e1e1 solid;
  }
}

.app_boxes {
  width: 100%;
  background-color: #f5f5f5;
  background-image: url(../image/app/main_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.app_boxes_s {
  max-width: 1100px;
  z-index: 999;
  margin: 0 auto;
}

.pt60 {
  padding-top: 60px;
  @media screen and (max-width: 736px) {
    padding-top: 20px;
  }
}

.fontimg_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (max-width: 736px) {
    margin-top: 20px;
  }
}

.fontbox {
  width: calc(100% - 520px);
  padding-left: 12px;
  position: relative;
  > ul > h3 {
    @extend %font_h2;
    position: absolute;
    top: 40px;
    z-index: 1;
    display: inline-block;
    &:after {
      content: "";
      width: 68px;
      height: 2px;
      background: $black;
      position: absolute;
      z-index: -1;
      bottom: 8px;
      right: -76px;
      display: none;
    }
  }
  > ul {
    overflow: hidden;
    // padding-left: 20px;
    margin-bottom: 20px;
    text-align: left;
  }
  > ul > li {
    // list-style-type: disc;
    // color: #b8b8b8;
    margin-bottom: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  > ul > li:nth-last-child(1) {
    margin-bottom: 0px;
  }
  > ul > li > p {
    color: $black;
    @extend %font_p;
  }
  @media screen and (max-width: 736px) {
    width: 100%;
    padding-left: 0;
    > ul {
      padding-left: 0;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 0;
    }
    > ul > li {
      margin-bottom: 12px;
    }
    > ul > h3 {
      display: none;
    }
  }
}

.position_01 {
  position: absolute;
  top: 98px;
}

.position_02 {
  position: absolute;
  top: 246px;
}

.position_none {
  position: relative !important;
  top: 0 !important;
}

.number {
  display: none;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  background-color: $black;
  color: #fff;
  font-weight: bold;
  margin: 3px 10px 0 0;
  padding: 1px 0px 0 2px;
  float: left;
}

// projects-cards
.projects_boxes {
  position: relative;
  ul {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  li {
    width: calc(100% / 2 - 58px);
    margin-bottom: 80px;
  }
  li:nth-last-child(1) {
    margin-bottom: 0;
  }
  li:nth-last-child(2) {
    margin-bottom: 0;
  }
  @media screen and (max-width: 736px) {
    li {
      width: 100%;
      margin-bottom: 28px;
    }
    li:nth-last-child(2) {
      margin-bottom: 28px;
    }
    li:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}

// .projects_cards {
//   border-radius: 8px;
//   overflow: hidden;
//   img {
//     margin-bottom: -3px;
//     opacity: 0.5;
//     transition: 0.5s ease;
//     &:hover {
//       opacity: 1;
//     }
//   }
// }

.projects_cards {
  border-radius: $box_border-radius;
  overflow: hidden;
  margin-bottom: 20px;
  img {
    margin-bottom: -3px;
    transform: scale(1, 1);
    transition: all 0.3s ease-out;
    &:hover {
      // opacity: 0.5;
      transform: scale(1.05, 1.05);
    }
  }
  @media screen and (max-width: 736px) {
    margin-bottom: 12px;
  }
}

.projects_font {
  width: 100%;
  min-height: 80px;
  > p {
    @extend %font_p;
  }
  @media screen and (max-width: 736px) {
    min-height: 80px;
  }
}

.label {
  display: inline-block;
  height: 24px;
  padding: 3px 10px;
  margin-right: 16px;
  margin-bottom: 0px;
  clear: left;
  border-radius: 5px;
  background-color: rgba(176, 176, 176, 0.05);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 2px;
  color: #939393;
  @media screen and (max-width: 736px) {
    display: none;
  }
}

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 8px;
  > h2 {
    @extend %font_h2;
    display: inline-block;
    margin-right: 26px;
    margin-bottom: 4px;
  }
  @media screen and (max-width: 736px) {
    margin-bottom: 0;
    > h2 {
      width: 100%;
    }
  }
}

// banner
.projects_boxes02 {
  max-width: 1170px;
  margin: 0 auto;
  padding: 80px 0 0;
  ul {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  li {
    width: calc(100% / 3 - 20px);
    margin-bottom: 14px;
  }
  @media screen and (max-width: 736px) {
    padding: 32px 0 12px;
    li {
      width: 100%;
      margin-bottom: 28px;
    }
    li:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}

// about
.about_boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (max-width: 736px) {
    width: 100%;
  }
}

.about_img {
  width: 240px;
  border-radius: $box_border-radius;
  overflow: hidden;
  img {
    margin-bottom: -3px;
  }
  @media screen and (max-width: 736px) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.about_font {
  width: calc(100% - 240px);
  padding-left: 40px;
  position: relative;
  z-index: 99;
  h1 {
    color: $black;
    font-size: 22px;
    margin-bottom: 12px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: bold;
  }
  > p {
    @extend %font_p;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 736px) {
    width: 100%;
    padding-left: 0;
    margin-bottom: 28px;
    padding-bottom: 48px;
  }
}

.w950 {
  width: 100%;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.resume_cta {
  padding: 8px 16px 10px;
  color: $black;
  text-align: center;
  border: $black 1px solid;
  font-size: 18px;
  border-radius: 2em;
  position: absolute;
  z-index: 99;
  right: 0;
  bottom: 0;
  letter-spacing: 2px;
  transition: all 0.3s;
  &:hover {
    color: #fff;
    background-color: $black;
    transition: all 0.3s ease-out;
  }
  @media screen and (max-width: 736px) {
    width: 100%;
    border-radius: 4px;
  }
}

// creation

.introduce {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  margin-bottom: 60px;
  @media screen and (max-width: 736px) {
    margin-bottom: 28px;
  }
}

.creation_img {
  width: 150px;
  @media screen and (max-width: 736px) {
    margin-bottom: 20px;
  }
}

.creation_font {
  width: calc(100% - 160px);
  padding-left: 40px;
  position: relative;
  z-index: 99;
  h2 {
    @extend %font_h2;
    font-size: 24px;
  }
  p {
    @extend %font_p;
  }
  @media screen and (max-width: 736px) {
    width: 100%;
    padding-left: 0;
    h2 {
      text-align: center;
    }
  }
}

.hhboxes {
  width: 100%;
  margin-bottom: 32px;
  ul {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  li {
    width: calc(100% / 4 - 20px);
    margin-bottom: 28px;
  }
  @media screen and (max-width: 736px) {
    li {
      width: calc(100% / 2 - 8px);
      margin-bottom: 16px;
    }
  }
}

.pade {
  width: 100%;
  h2 {
    @extend %font_h2;
    font-size: 22px;
  }
  ul {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  li {
    width: calc(100% / 3 - 20px);
    margin-bottom: 28px;
  }
  @media screen and (max-width: 736px) {
    li {
      width: 100%;
      margin-bottom: 20px;
    }
    li:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}

.padeimg {
  margin-top: 30px;
}

// footer
.remark {
  width: 220px;
  color: $black;
  font-size: 20px;
  padding: 8px 12px 10px;
  text-align: center;
  border: #595959 1px solid;
  border-radius: 4px;
  margin: 0 auto;
  letter-spacing: 2px;
  &:hover {
    color: #7c44de;
    border: #7c44de 1px solid;
  }
  @media screen and (max-width: 736px) {
    width: 100%;
  }
}

.readmore {
  text-align: center;
  p {
    @extend %font_h2;
    margin-bottom: 20px;
    &:hover {
      color: #7c44de;
    }
  }
  @media screen and (max-width: 736px) {
    padding: 8px 16px 10px;
    color: #595959;
    text-align: center;
    border: #595959 1px solid;
    font-size: 18px;
    border-radius: 4px;
    margin: 40px 0 20px 0;
    p {
      margin-bottom: 0;
    }
  }
}

// copyright
.copyright {
  font-size: 12px;
  color: rgb(165, 165, 165);
  text-align: center;
  margin-bottom: 28px;
}
