.pad {
  display: none;
}

.phone {
  display: none;
}

.web {
  display: block;
}

@media screen and (max-width: 800px) {
  .web {
    display: none;
  }
  .phone {
    display: none;
  }
  .pad {
    display: block;
  }
}

@media screen and (max-width: 736px) {
  .web {
    display: none;
  }
  .pad {
    display: none;
  }
  .phone {
    display: block;
  }
}

main {
  width: 100%;
  padding-top: 68px;
  overflow: hidden;
}

.header_bg {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px #e2e2e2;
  position: fixed;
  z-index: 9999;
}

.header_container {
  width: 100%;
  height: 68px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 20px;
}

.header_title {
  float: left;
  font-size: 26px;
  line-height: 68px;
  padding-left: 16px;
}

.header_title a {
  color: #595959;
}

@media screen and (max-width: 736px) {
  .header_title {
    padding-left: 0;
  }
}

.menu {
  float: right;
  line-height: 68px;
}

.menu ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li {
  padding: 0 16px;
}

.menu ul li a {
  font-size: 20px;
  color: #595959;
}

@media screen and (max-width: 1024px) {
  .header_container {
    width: 100%;
  }
  .menu ul {
    display: none;
  }
}

.hamburgaricon {
  display: none;
  height: 68px;
  float: right;
}

.closemenu {
  width: 24px;
  height: 24px;
  position: relative;
  top: 24px;
}

.closemenu span {
  display: block;
  height: 2px;
  background-color: #000;
  position: relative;
  transition: all 0.3s ease-in-out;
  top: 0;
  right: 16px;
}

.closemenu span:nth-child(2) {
  margin-top: 7px;
}

.closemenu span:nth-child(3) {
  margin-top: 7px;
}

#toggler {
  display: none;
}

#toggler:checked + label .closemenu span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
  transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0 3s;
}

#toggler:checked + label .closemenu span:nth-child(2) {
  opacity: 0;
}

#toggler:checked + label .closemenu span:nth-child(3) {
  transform: rotate(-45deg);
  top: -10px;
}

@media screen and (max-width: 1024px) {
  .hamburgaricon {
    display: block;
  }
}

.menu_m {
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  top: 68px;
  left: 0;
  z-index: 88;
  padding-top: 40px;
  background-color: #3b3b3b;
  text-align: center;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out 0.3s, opacity 0.3s ease-in-out 0.3s;
  transform-origin: 50% 0;
  opacity: 0;
  transition: 0.3s;
}

.menu_m li {
  margin-bottom: 24px;
}

.menu_m a {
  width: 200px;
  display: block;
  font-size: 20px;
  color: #fff;
  background-color: #444444;
  margin: 0 auto;
  padding: 10px;
  border-radius: 4px;
}

#toggler:checked ~ .menu_m {
  transform: scaleY(1);
  opacity: 1;
}

.active {
  color: #7c44de;
}

@media screen and (max-width: 736px) {
  .active {
    color: #fff;
  }
}

.bg_grey {
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 1;
  background-color: #f5f5f5;
}

@media screen and (max-width: 1024px) {
  .bg_grey {
    height: 240px;
  }
}

@media screen and (max-width: 736px) {
  .bg_grey {
    height: 160px;
  }
}

.section_grey {
  width: 100%;
  background-color: #f5f5f5;
  padding: 60px 20px 76px;
}

@media screen and (max-width: 736px) {
  .section_grey {
    padding: 20px 20px 40px;
  }
}

.projects_imgbox {
  position: relative;
  margin: -280px auto 40px auto;
  max-width: 1300px;
  z-index: 999;
}

@media screen and (max-width: 1024px) {
  .projects_imgbox {
    padding: 28px;
    margin: -24% 0 0;
  }
}

@media screen and (max-width: 736px) {
  .projects_imgbox {
    padding: 20px;
    margin: -36% 0 0;
  }
}

.projects_img {
  transition: all 0.3s;
  border: 2px #181818 solid;
  border-radius: 16px;
  overflow: hidden;
}

@media screen and (max-width: 736px) {
  .projects_img {
    border: 2px #181818 solid;
    border-radius: 8px;
  }
}

.projects_img img {
  margin-bottom: -3px;
}

.page {
  padding: 0 40px;
}

@media screen and (max-width: 736px) {
  .page {
    padding: 0 24px;
  }
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.p-80 {
  padding: 60px 0;
}

@media screen and (max-width: 736px) {
  .p-80 {
    padding: 28px 0;
  }
}

.container {
  width: 100%;
  margin-bottom: 60px;
}

.container > h2 {
  font-size: 24px;
  color: #7c44de;
  font-weight: bold;
  margin-bottom: 14px;
}

.container > p {
  font-size: 18px;
  color: #595959;
  line-height: 1.5;
}

.container h3 {
  font-size: 22px;
  color: #595959;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 10px;
}

@media screen and (max-width: 736px) {
  .container h3 {
    font-size: 18px;
  }
}

.font_en {
  font-size: 22px;
  color: #bbbcf8;
  font-weight: normal;
}

@media screen and (max-width: 736px) {
  .font_en {
    font-size: 19px;
  }
}

@media screen and (max-width: 736px) {
  .container {
    margin-bottom: 20px;
  }
  .container h2 {
    font-size: 19px;
    margin-bottom: 8px;
  }
  .container p {
    font-size: 16px;
  }
}

.color_boxes {
  display: flex;
  justify-content: space-between;
  width: 360px;
  margin-top: 20px;
}

@media screen and (max-width: 736px) {
  .color_boxes {
    width: 240px;
    margin-top: 12px;
  }
}

.color_boxes02 {
  width: 236px;
}

@media screen and (max-width: 736px) {
  .color_boxes02 {
    width: 160px;
  }
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 736px) {
  .circle {
    width: 70px;
    height: 70px;
  }
}

.font_colorcode {
  font-size: 18px;
}

@media screen and (max-width: 736px) {
  .font_colorcode {
    font-size: 12px;
  }
}

.item {
  width: 100%;
  margin-bottom: 54px;
}

.item > ul {
  overflow: hidden;
  padding-left: 20px;
  margin-bottom: 20px;
}

.item > ul > li {
  list-style-type: disc;
  color: #7c44de;
  margin-bottom: 8px;
}

.item > ul > li:nth-last-child(1) {
  margin-bottom: 0px;
}

.item > ul > li > p {
  color: #595959;
  font-size: 18px;
  line-height: 1.5;
}

@media screen and (max-width: 736px) {
  .item {
    margin-bottom: 28px;
  }
  .item > ul {
    margin-bottom: 8px;
  }
  .item > ul > li {
    margin-bottom: 12px;
  }
  .item > ul > li > p {
    font-size: 16px;
  }
}

.mb0 {
  margin-bottom: 0;
}

.p0-60 {
  padding: 0 60px;
}

@media screen and (max-width: 736px) {
  .p0-60 {
    padding: 0;
  }
}

.item_img {
  width: 600px;
  border-radius: 12px;
  overflow: hidden;
}

@media screen and (max-width: 736px) {
  .item_img {
    width: 100%;
    border-radius: 8px;
    margin-top: 12px;
  }
}

.item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: -3px;
}

@media screen and (max-width: 1024px) {
  .item_img img {
    border-radius: 8px;
  }
}

@media screen and (max-width: 1024px) {
  .item_img02 {
    text-align: center;
  }
}

.item_img02 img {
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .item_img02 img {
    width: 240px;
  }
}

.w1000 {
  width: 1000px;
}

@media screen and (max-width: 1024px) {
  .w1000 {
    width: 100%;
  }
}

.w800 {
  width: 800px;
}

@media screen and (max-width: 1024px) {
  .w800 {
    width: 100%;
  }
}

.box_center {
  margin: 0 auto;
}

.box_border {
  border: 1px #e1e1e1 solid;
}

@media screen and (max-width: 736px) {
  .box_border {
    border: 1 #e1e1e1 solid;
  }
}

.app_boxes {
  width: 100%;
  background-color: #f5f5f5;
  background-image: url(../image/app/main_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

@media screen and (max-width: 736px) {
  .app_boxes {
    margin-bottom: 20px;
  }
}

.app_boxes_s {
  max-width: 1300px;
  z-index: 999;
  margin: 0 auto;
}

.fontimg_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.fontbox {
  width: calc(100% - 600px);
  padding-left: 24px;
}

.fontbox > ul {
  overflow: hidden;
  padding-left: 20px;
  margin-bottom: 20px;
}

.fontbox > ul > li {
  list-style-type: disc;
  color: #7c44de;
  margin-bottom: 8px;
  line-height: 1.5;
}

.fontbox > ul > li:nth-last-child(1) {
  margin-bottom: 0px;
}

.fontbox > ul > li > p {
  color: #595959;
  font-size: 18px;
}

@media screen and (max-width: 736px) {
  .fontbox > ul > li > p {
    font-size: 16px;
  }
}

@media screen and (max-width: 736px) {
  .fontbox {
    width: 100%;
    padding-left: 0;
  }
  .fontbox > ul {
    margin-bottom: 8px;
  }
  .fontbox > ul > li {
    margin-bottom: 12px;
  }
}

.imgbox {
  width: 600px;
  margin-top: 16px;
}

@media screen and (max-width: 736px) {
  .imgbox {
    width: 100%;
    margin-top: 0;
    margin-top: 4px;
    margin-bottom: 12px;
  }
}

.imgbox_w680 {
  width: 680px;
  margin-top: 16px;
}

.fontbox_w680 {
  width: calc(100% - 680px);
}

@media screen and (max-width: 736px) {
  .fontbox_w680 {
    width: 100%;
  }
}

.imgbox_w440 {
  width: 440px;
  margin-top: 16px;
}

@media screen and (max-width: 736px) {
  .imgbox_w440 {
    width: 100%;
  }
}

.fontbox_w440 {
  width: calc(100% - 480px);
}

@media screen and (max-width: 736px) {
  .fontbox_w440 {
    width: 100%;
  }
}

@media screen and (max-width: 736px) {
  .order {
    order: -1;
  }
}

.projects_boxes {
  margin: 80px 0 0;
}

.projects_boxes ul {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects_boxes li {
  width: calc(100% / 2 - 20px);
  margin-bottom: 28px;
}

.projects_boxes li:nth-last-child(1) {
  margin-bottom: 0;
}

.projects_boxes li:nth-last-child(2) {
  margin-bottom: 0;
}

@media screen and (max-width: 736px) {
  .projects_boxes {
    margin: 40px auto 0;
  }
  .projects_boxes li {
    width: 100%;
    margin-bottom: 28px;
  }
  .projects_boxes li:nth-last-child(2) {
    margin-bottom: 28px;
  }
  .projects_boxes li:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.projects_cards {
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 16px;
  border: 2px #181818 solid;
}

.projects_cards img {
  margin-bottom: -3px;
}

.projects_font {
  width: 100%;
  min-height: 80px;
}

.projects_font > p {
  color: #595959;
  font-size: 18px;
  line-height: 1.5;
}

@media screen and (max-width: 736px) {
  .projects_font > p {
    font-size: 16px;
  }
}

.label {
  display: inline-block;
  height: 24px;
  padding: 3px 10px;
  margin-right: 12px;
  margin-bottom: 0px;
  clear: left;
  border-radius: 5px;
  background-color: rgba(56, 96, 255, 0.05);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 2px;
  color: #7c44de;
}

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 12px;
}

.title > h2 {
  color: #7c44de;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  margin-right: 20px;
}

@media screen and (max-width: 736px) {
  .title > h2 {
    font-size: 19px;
    width: 100%;
    margin-bottom: 12px;
  }
}

.projects_boxes02 {
  max-width: 1170px;
  margin: 0 auto;
  padding: 80px 0 0;
}

.projects_boxes02 ul {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects_boxes02 li {
  width: calc(100% / 3 - 20px);
  margin-bottom: 14px;
}

@media screen and (max-width: 736px) {
  .projects_boxes02 {
    padding: 32px 0 12px;
  }
  .projects_boxes02 li {
    width: 100%;
    margin-bottom: 28px;
  }
  .projects_boxes02 li:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.about_boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px auto 0;
}

@media screen and (max-width: 736px) {
  .about_boxes {
    width: 100%;
    margin: 20px auto 0;
  }
}

.about_img {
  width: 240px;
}

@media screen and (max-width: 736px) {
  .about_img {
    width: 100%;
  }
}

.about_font {
  width: calc(100% - 240px);
  padding-left: 40px;
  position: relative;
  z-index: 99;
}

.about_font h1 {
  font-size: 24px;
  color: #595959;
  margin-bottom: 12px;
  font-weight: bold;
}

.about_font p {
  font-size: 18px;
  color: #595959;
  line-height: 1.5;
}

@media screen and (max-width: 736px) {
  .about_font {
    width: 100%;
    padding-left: 0;
    margin-bottom: 28px;
    padding-bottom: 48px;
  }
  .about_font h1 {
    font-size: 19px;
  }
  .about_font p {
    font-size: 16px;
  }
}

.w950 {
  width: 950px;
}

@media screen and (max-width: 1024px) {
  .w950 {
    width: 100%;
  }
}

.resume_cta {
  padding: 8px 16px 10px;
  color: #595959;
  text-align: center;
  border: #595959 1px solid;
  font-size: 20px;
  border-radius: 2em;
  position: absolute;
  z-index: 99;
  right: 0;
  bottom: 0;
}

.resume_cta:hover {
  color: #7c44de;
  border: #7c44de 1px solid;
}

@media screen and (max-width: 736px) {
  .resume_cta {
    width: 100%;
    border-radius: 4px;
  }
}

.creation_boxes {
  margin: 82px auto 0;
}

@media screen and (max-width: 736px) {
  .creation_boxes {
    margin: 20px auto 0;
  }
}

.introduce {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

@media screen and (max-width: 736px) {
  .introduce {
    margin-bottom: 28px;
  }
}

.creation_img {
  width: 150px;
}

@media screen and (max-width: 736px) {
  .creation_img {
    margin-bottom: 20px;
  }
}

.creation_font {
  width: calc(100% - 160px);
  padding-left: 40px;
  position: relative;
  z-index: 99;
}

.creation_font h2 {
  font-size: 24px;
  font-weight: 600;
  color: #595959;
  margin-bottom: 8px;
}

.creation_font p {
  font-size: 18px;
  color: #595959;
  line-height: 1.5;
}

@media screen and (max-width: 736px) {
  .creation_font {
    width: 100%;
    padding-left: 0;
  }
  .creation_font h2 {
    font-size: 19px;
    text-align: center;
  }
}

.hhboxes {
  width: 100%;
  margin-bottom: 28px;
}

.hhboxes ul {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hhboxes li {
  width: calc(100% / 4 - 20px);
  margin-bottom: 28px;
}

@media screen and (max-width: 736px) {
  .hhboxes li {
    width: calc(100% / 2 - 8px);
    margin-bottom: 16px;
  }
}

.pade {
  width: 100%;
}

.pade h2 {
  font-size: 26px;
  font-weight: 600;
  color: #595959;
  margin-bottom: 20px;
}

.pade ul {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pade li {
  width: calc(100% / 3 - 20px);
  margin-bottom: 28px;
}

@media screen and (max-width: 736px) {
  .pade li {
    width: 100%;
    margin-bottom: 20px;
  }
  .pade li:nth-last-child(1) {
    margin-bottom: 0;
  }
  .pade h2 {
    font-size: 20px;
  }
}

.remark {
  width: 180px;
  color: #595959;
  font-size: 20px;
  padding: 8px 12px 10px;
  text-align: center;
  border: #595959 1px solid;
  border-radius: 4px;
  margin: 0 auto;
}

.remark:hover {
  color: #7c44de;
  border: #7c44de 1px solid;
}

@media screen and (max-width: 736px) {
  .remark {
    width: 100%;
  }
}

.copyright {
  font-size: 12px;
  color: #a5a5a5;
  text-align: center;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */